[submodule "docker"]
	path = docker
	url = https://github.com/joshfokis/docker
[submodule "windows"]
	path = windows
	url = https://github.com/joshfokis/windows
[submodule "digitalocean"]
	path = digitalocean
	url = https://github.com/joshfokis/digitalocean.git
